*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: 'Poppins',sans-serif;
}
body:hover{
    cursor: default;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}
nav ul{
    display:flex;
    justify-content:center;

}
nav ul li {
    list-style: none;
    margin: 0 23px; 
}
nav ul li a{
    text-decoration: none;
    color:white; 
}
nav ul li a:hover{ 
    color:rgb(97, 89, 155); 
    font-size: 1.02rem;
}
.left{
    font-size: 1.5rem;
    
}
.left:hover{
    cursor: default;
}
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

}
.firstSection > div {
    width:30%;
}

.leftSection{
    font-size: 2rem;
    
}
.leftSection .button{
    padding:50px 0;
}
.leftSection .btn{
    padding: 12px;
    background:#1e2167;
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection img{
    width: 80%;
    
}
.text-purple {
   color:rgb(170, 106, 230);
}
.text-gray{
    color: gray;
}
#element {
    color:rgb(163, 100, 226)
}
.secondSection {
    max-width: 80vw;
    margin:auto;
    height: 80vh;
}
 main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;

}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box {
    background:white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;

}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color:rgb(246, 243, 243);
    margin: 0 140px;

}
.image-top {
    width:35px;
    position: relative;
    top: -50px;
    left:-15px;
}

.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
    

}
.vertical-desc{
    position: relative;
    top:84px;
    width:150px;
    font-size: 9px;
    color:gray;

}
footer{
    background-color: #0e0e1a;

}
.footer{
    display:flex;
    padding: 23px 122px;
    justify-content: space-evenly;

}
.footer div{
    width: 300px;
}
.footer ul {
    list-style: none;
}
.footer ul li {
    margin: 0 23px; 
}
.footer ul li a{
    text-decoration: none;
    color:white; 
}

footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
    
}

.thirdSection h1{
    font-size: 1.9rem;
    text-align: left;
}
.thirdSection{
    max-width: 80vw;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 40px;

}
.thirdSection .aboutme{
    padding-top: 10px;
}
